__pycache__/2d.cpython-311.pyc
__pycache__/3d.cpython-311.pyc
__pycache__/3dfunctions.cpython-311.pyc
.vscode/launch.json
__pycache__/lib.cpython-311.pyc
__pycache__/2dfunctions.cpython-311.pyc
.vscode/settings.json
